.app {
  background-color: black;
  width: 100%;
  overflow-x: hidden;
}

.progress {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}