.stockRow {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    overflow-x: hidden;
    padding: 0px 10px;
}

.stockRow__info {
    display: flex;
    align-items: center;
}

.stockRow__data {
    text-align: left;
}

.stockRow__info > h1 {
    font-size: 16px;
}

.stockRow__info > p {
    font-size: 14px;
}

.stockRow__logo {
    height: 80px;
    width: 80px;
    margin-right: 30px;
    object-fit: contain;
    border-radius: 16px;
}

.stockRow__price {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
}

@media (max-width: 800px) {
    .stockRow__logo {
        height: 40px;
        width: 40px;
        border-radius: 24px;
    }
    .stockRow__info > h1 {
        font-size: 16px;
    }
    .stockRow__info > p {
        font-size: 12px;
    }
    .stockRow__price {
        font-size: 18px;
    }
}